{% extends 'base.html' %}

{% block title %}Nie pamiętam hasła{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if request.GET.m == "s" %}
            <h3>Link do resetowania hasła zostanie wysłany na Twój adres e-mail. Prosimy o sprawdzenie wiadomości e-mail. </h3>
            {% else %}
            <h3>Wpisz swój adres e-mail użyty podczas tworzenia konta klienta, aby uzyskać link do resetowania hasła.</h3>
            {% if request.GET.m == "e" %}
            <h4 class="text-danger">Coś poszło nie tak, wprowadź ponownie swój adres e-mail.</h4>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button> Uzyskaj link do zresetowania hasła.</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}