{% extends 'base.html' %}

{% block title %}Wyszukiwanie {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Wyniki wyszukiwania dla: <span class="text-info">"{{request.GET.keyword}}"</span></h3>
            <hr>
            {% for result in results %}
            <div class="row">
                <div class="col-md-3">
                    <img src="{{result.image.url}}" class="img-fluid" alt="">
                </div>
                <div class="col-md-9">
                    <h4><a href="{% url 'ecomapp:productdetail' result.slug %}">{{result.title}}</a></h4>
                    <p>{{result.description|truncatewords:50}}</p>
                    {% if result.return_policy %}
                        <p>Czas na zwrot: {{result.return_policy}}</p>
                    {% endif %}
                    <a href="{% url 'ecomapp:addtocart' result.id %}" class="btn btn-primary">Dodaj do koszyka</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}